* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  color: white;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo span {
  color: #00f7ff;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav a:hover {
  color: #00f7ff;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
  color: white;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.btn {
  margin-top: 20px;
  padding: 10px 25px;
  background: #00f7ff;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  width: fit-content;
}

.section {
  padding: 120px 10% 80px ;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 15px;
  transition: 0.3s;
  min-height: 180px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(0,247,255,0.4);
}

.highlight {
  margin-top: 30px;
  padding: 15px;
  background: rgba(0,247,255,0.2);
  border-left: 4px solid #00f7ff;
}

.quiz-box button {
  margin: 10px 10px 0 0;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 50px 10%;
  background: rgba(0,0,0,0.5);
}

.faq-item{
  margin-bottom:15px;
}

.faq-question{
  width:100%;
  padding:15px;
  background:#1e293b;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
  text-align:left;
  font-weight:600;
  transition:0.3s;
}

.faq-question:hover{
  background:#00c3ff;
}

.faq-answer{
  max-height:0;
  overflow:hidden;
  transition:max-height 0.4s ease;
  background:#0f172a;
  padding:0 15px;
  border-radius:0 0 8px 8px;
}

.faq-answer p{
  padding:15px 0;
}

.team-member{
  margin-top:15px;
  padding:15px;
  background:rgba(255,255,255,0.08);
  border-radius:10px;
  transition:0.3s;
}

.team-member:hover{
  transform:translateX(5px);
  box-shadow:0 0 15px #00f7ff;
}

.team-member h3{
  color:#00f7ff;
  margin-bottom:5px;
}

.hero-text {
  flex: 1;
}

.hero-image {
  flex: 1;
  text-align: right;
}

.hero-image img {
  max-width: 90%;
  filter: drop-shadow(0 0 20px #00f7ff);
}

section {
  scroll-margin-top: 100px;
  padding: 100px 10%;

}

html {
  scroll-behavior: smooth;
}

.tips-section {
  padding: 140px 10%;
  min-height: 100vh;
}

.tips-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}

.tips-card {
  background: rgba(255,255,255,0.05);
  border-radius: 20px;
  overflow: hidden;
  backdrop-filter: blur(12px);
  transition: all 0.4s ease;
  opacity: 0;
  transform: translateY(40px);
}

.tips-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: 0.4s;
}

.tips-card p {
  padding: 22px;
  font-size: 0.95rem;
  line-height: 1.6;
}

.tips-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 0 30px rgba(0,247,255,0.35);
}

.tips-card:hover img {
  transform: scale(1.08);
}

.team-section {
  padding: 70px 10%;
}

